.avatar-uploader > .ant-upload {
  width: 100px;
  height: 100px;
}

.avatar-uploader > .ant-upload img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
