.answer {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #29047b, #ef5b60);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.answer .box2 {
  width: 100%;
  height: 28%;
}

.answer .box2 dl > p {
  color: #fff;
  font-size: 20px;
  position: absolute;
  text-align: center;
  padding-left: 20px;
  top: 20px;
}

.answer .box2 > p {
  font-size: 26px;
  color: #fff;
}

.answer .box2 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.answer .box2 > div dd {
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.answer .box2 > div > p {
  font-size: 35px;
  color: #fff;
}

.answer .box2 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 50px;
}

.answer .box {
  width: 90%;
  flex: 1;
}

.answer .box .title {
  border-radius: 15px;
  background: #fff;
  position: relative;
}

.answer .box .title > p {
  font-size: 18px;
  padding: 15px 15px 40px 15px;
}

.answer .box .question {
  border-radius: 15px;
  background: #fff;
}

.answer .box .question ul {
  font-size: 18px;
  padding: 15px;
}

.answer .box .question ul li {
  height: 50px;
  background: url("/images/bg_r6_c2.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: 5px;
  padding-left: 30px;
  line-height: 50px;
}

.answer .box .question ul li.yes {
  background: url("/images/bg_r3_c1.png") no-repeat;
  background-size: 100% 100%;
}

.answer .box .question ul li.no {
  background: url("/images/bg_r1_c1.png") no-repeat;
  background-size: 100% 100%;
}

.answer .model .successimg {
  width: 50px;
}

.answer .model .ant-modal-body img {
  width: 100px !important;
}
