.animate {
  transition: 1.5s;
  transform: translateY(-667px);
}

.animate2 {
  transition: 1.5s;
  transform: translateY(0px);
}

.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rt {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #29047b, #ef5b60);
  display: flex;
  flex-direction: column;
  align-items: center;
  > ul {
    position: absolute;
    width: 15%;
    right: 0;
    top: 40px;
    li {
      width: 100%;
      font-size: 0;
      img {
        width: 100%;
      }
    }
  }
  > img {
    width: 70%;
  }
  > dl {
    position: absolute;
    width: 15%;
    right: 0;
    top: 260px;
    dt {
      width: 50px;
      height: 50px;
      background: #29047b;
      border-radius: 50%;
      text-align: center;
      
      input{
        display: block;
        width:100%;
        height:100%;
        border-radius: 50%;
        opacity:0 ;
      }
    }
    dd {
      text-align: center;
      color: #fff;
    }
  }
}

.getprice {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #29047b, #ef5b60);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-sizing: border-box;
  .box {
    width: 90%;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: 42px;
    z-index: -1;
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    > button {
      width: 80%;
      height: 46px;
      border-radius: 23px;
      background: #fe7408;
      color: #fff;
      border: none;
      font-size: 17px;
    }
    .bagtab {
      width: 100%;
      height: 40px;
      background: #eee;
      display: flex;
      align-items: center;
      span {
        flex: 1;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
      }
      span.active {
        border-bottom: solid 2px #ff7e00;
      }
    }
    > img {
      width: 100%;
    }
  }
}

.power {
  //能量
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: relative;
  > p:nth-of-type(1) {
    border: solid 1px #ccc;
    background: #805ceb;
    color: #fff;
    border-radius: 30px;
    padding: 3px 30px;
    position: relative;
    top: 14px;
  }
  > p:nth-of-type(2) {
    background: linear-gradient(to right, #d05de3, #955ce3);
    padding: 3px 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
  }
}
